anyjson==0.3.3
boto==2.34.0
celery==3.1.18
Django==1.8.1
dj-database-url==0.3.0
dj-redis-url==0.1.4
django-celery==3.1.16
django-db-geventpool==1.20.1
django-htmlmin==0.7.0
django-pylibmc==0.5.0
django-storages==1.1.8
git+git://github.com/django-tastypie/django-tastypie.git@256ebe1de9a78dfb5d4d6e938b813cf4c5c4ac1b
django-dynamic-fixture==1.8.1
greenlet==0.4.5
git+git://github.com/brockhaywood/gunicorn.git@0dc04d5275fa997e8259d405b686e24159b9f44e
gevent==1.0.1
geopy==1.9.1
httmock==1.2.3
httplib2==0.9
flake8==2.3.0
jsmin==2.0.11
ipython==2.3.0
django-log-request-id==1.0.0
lxml==3.4.0
mock==1.0.1
newrelic==2.40.0.34
phonenumbers==6.2.0
pylibmc==1.4.1
pusher==0.8
psycopg2==2.6
psycogreen==1.0
python-dateutil==2.2
python-forecastio==1.3.2
simplejson==3.6.5
Sphinx==1.2.3
sphinxcontrib-httpdomain==1.3.0
readline==6.2.4.1
redis==2.10.3
requests==2.4.3
validate-email==1.2
wsgiref==0.1.2
